<figure class="post-thumbnail">%%IMAGE="cherry-post2"%%</figure>
<div class="cont_info">
<h3 class="post-title">%%TITLE%%</h3>
%%CONTENT%%
%%BUTTON="cherry-btn cherry-btn-primary cherry-btn-small cherry-btn-inline cherry-btn-fade"%%
</div>